<table id="RelationData" class="RelationData">
    <thead style="font-weight: bold;">
        <tr>
            <td>Type</td>
            <td>Source</td>
            <td>Destination</td>
        </tr>
    </thead>
    <tbody>
        {% for r in model.relationships %}
        <tr style="text-align:center">
            <td>
                {% with tagId = 'relationTypeRow-' + loop.index|string() %}
                {% with selected_type = r.relation_type %}
                {% include "_umlrelationtypes_dropdown.html" %}
                {% endwith %}
                {% endwith %}
            </td>
            <td>
                <span>{{ r.source }}</span>
            </td>
            <td>
                <span>{{ r.destination }}</span>
            </td>
            <td>
                <a href="#" onclick="deleteRelation('{{ r.source }}', '{{ r.destination }}')" title="Delete Relation">
                    <i class="fa-solid fa-delete-left delete-icon"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        <tr style="align-items:center">
            <td>
                {% with tagId="newRelationType" %}
                {% include "_umlrelationtypes_dropdown.html" %}
                {% endwith %}
            </td>
            <td>
                {% with tagId="newRelationSource" %}
                {% include "_umlclasses_dropdown.html" %}
                {% endwith %}
            </td>
            <td>
                {% with tagId="newRelationDestination" %}
                {% include "_umlclasses_dropdown.html" %}
                {% endwith %}
            </td>
            <td><button class="add-button" onclick="addRelation()">Submit</button></td>
        </tr>
    </tbody>
</table>