<div id="ClassDetailsContainer">
    <div class="draggable-bar" id="draggableBar-{{ dto.name }}"></div>
    <button class="close" data-classname="{{ dto.name }}" onclick="closeClassDetails('{{ dto.name }}')">&times;</button>
    <div style="text-align: center;">
        <input class="class-name" value="{{ dto.name }}" onkeydown="onkeydown_enter(event, () => this.blur())"
            onblur="renameClass(event.target, '{{ dto.name }}')" />
    </div>
    <hr>
    <h3>Fields</h3>
    <div id="fieldsList-{{ dto.name }}" style="text-align: left;">
        <table>
            {% for f in dto.fields %}
            {% include "_umlfield.html" %}
            {% endfor %}
        </table>
        <br>
        <div style="text-align: center;">
            <button style="display: block;" id="btnAddField-{{ dto.name }}" class="add-button"
                onclick="toggleVisibility(['btnAddField-{{ dto.name }}', 'cntrAddField-{{ dto.name }}'])"><span
                    class="glyphicon glyphicon-plus-sign"></span> Add Field</button>
            <div id="cntrAddField-{{ dto.name }}" style="width: 100%; display:none;">
                <label for="newFieldName-{{ dto.name }}">Field Name:</label>
                <input class="input-mode-view" id="newFieldName-{{ dto.name }}" type="text"
                    onkeydown="addField2(event, this, '{{ dto.name }}')"
                    onblur="inputBlur(event, () => toggleVisibility(['btnAddField-{{ dto.name }}', 'cntrAddField-{{ dto.name }}']))">
            </div>
        </div>
    </div>
    <hr>
    <h3>Methods</h3>
    <div id="methodsList-{{ dto.name }}" style="text-align: left;">
        {% for m in dto.methods %}
        {% include "_umlmethod.html" %}
        {% endfor %}
    </div>
    <br>
    <div style="text-align: center;">
        <button style="display: block;" id="btnAddMethod-{{ dto.name }}" class="add-button"
            onclick="toggleVisibility(['btnAddMethod-{{ dto.name }}', 'cntrAddMethod-{{ dto.name }}'])"><span
                class="glyphicon glyphicon-plus-sign"></span> Add Method</button>
        <div id="cntrAddMethod-{{ dto.name }}" style="width: 100%; display:none;">
            <label for="newMethodName-{{ dto.name }}">Method Name:</label>
            <input class="input-mode-view" id="newMethodName-{{ dto.name }}" type="text"
                onkeydown="addMethod2(event, this, '{{ dto.name }}')"
                onblur="inputBlur(event, () => toggleVisibility(['btnAddMethod-{{ dto.name }}', 'cntrAddMethod-{{ dto.name }}']))">
        </div>
    </div>
</div>