<tr>
    <td>
        + <input class="input-mode-view" style="text-align: left; width: 50%;" type="text" id="umlmethod-{{ m.name }}"
            value="{{ m.name }}" onblur="renameMethod('{{ m.name }}',this.value ,'{{ m.params|length }}', '{{ dto.name }}')"
            onkeydown="onkeydown_enter(event, () => this.blur())" />
    </td>
    <td>
        <a href="#" onclick="deleteMethod('{{ m.name}}','{{ m.params|length }}','{{ dto.name }}')"
            title="Delete Method">
            <i class="fa-solid fa-delete-left" style="color: red; font-size: 18px; transition: all 0.2s ease-in-out;"
                onmouseover="this.style.textShadow='0 4px 12px rgba(255, 0, 0, 0.8)'; this.style.transform='scale(1.1)'; this.style.cursor='pointer';"
                onmouseout="this.style.textShadow='none'; this.style.transform='scale(1)';">
            </i>
        </a>
    </td>
    <td>
        {% for p in m.params %} {% include "_umlmethodparam.html" %} {% endfor %}
    </td>
    <td>
        <div style="text-align: center;padding-top: 10px;">
            <button style="display: block;" id="btnAddParam-{{ m.name }}-{{ m.params|length }}" class="add-button"
                onclick="toggleVisibility(['btnAddParam-{{ m.name }}-{{ m.params|length }}', 'cntrAddParam-{{ m.name }}-{{ m.params|length }}'])"><span
                    class="glyphicon glyphicon-plus-sign"></span> Add Param</button>

            <div id="cntrAddParam-{{ m.name }}-{{ m.params|length }}" style="width: 100%;padding-top: 10px; display:none;">
                <label for=newParamName-{{ m.name }}-{{ m.params|length }}" style="display: block; margin-bottom: 5px;">Parameter Name:</label>
                <input class="input-mode-view" style="width: 85%; padding: 5px;background-color: #04AA6D" id="newParamName-{{ m.name }}-{{ m.params|length }}" type="text">

                <div style="padding-top: 10px;">
                    <!-- Submit btn -->
                    <i class="fa-solid fa-circle-check"
                        style="color: white; font-size: 18px; transition: all 0.2s ease-in-out;"
                        onmouseover="this.style.textShadow='0 4px 12px rgba(255, 0, 0, 0.8)'; this.style.transform='scale(1.1)'; this.style.cursor='pointer';"
                        onmouseout="this.style.textShadow='none'; this.style.transform='scale(1)';"
                        onclick="addMethodParam({key:'Enter'},document.getElementById('newParamName-{{ m.name }}-{{ m.params|length }}'),'{{ m.name }}','{{ m.params|length }}','{{ dto.name }}');toggleVisibility(['btnAddParam-{{ m.name }}-{{ m.params|length }}', 'cntrAddParam-{{ m.name }}-{{ m.params|length }}'])"></i>
                    <!-- Cancel btn -->
                    <i class="fa-solid fa-circle-xmark"
                        style="color: red; font-size: 18px; transition: all 0.2s ease-in-out; cursor: pointer;"
                        onmouseover="this.style.textShadow='0 4px 12px rgba(255, 0, 0, 0.8)'; this.style.transform='scale(1.1)';"
                        onmouseout="this.style.textShadow='none'; this.style.transform='scale(1)';"
                        onclick="toggleVisibility(['btnAddParam-{{ m.name }}-{{ m.params|length }}', 'cntrAddParam-{{ m.name }}-{{ m.params|length }}']), document.getElementById('newParamName-{{ m.name }}-{{ m.params|length }}').value=''">
                    </i>
                </div>

            </div>
        </div>
    </td>
</tr>