//this is here for testing purposes only


//aggregation 
if (sourceElement && destinationElement) {
    const line = new LeaderLine(
        sourceElement,
        destinationElement,
        {
            color: '#000000',
            outline: true,
            endPlugOutline: true,
            endPlugSize: 1.5,
            outlineColor: '#04AA6D',
            size: 4,
            endPlug: 'square',
            path: 'fluid',
            startSocket: 'auto',
            endSocket: 'auto'
        }
    );


//composition
if (sourceElement && destinationElement) {
    const line = new LeaderLine(
        sourceElement,
        destinationElement,
        {
            color: '#04AA6D',
            endPlugSize: 1.5,
            size: 4,
            endPlug: 'square',
            path: 'fluid',
            startSocket: 'auto',
            endSocket: 'auto'
        }
    );

//inheritance
if (sourceElement && destinationElement) {
    const line = new LeaderLine(
        sourceElement,
        destinationElement,
        {
            color: '#000000',
            outline: true,
            endPlugOutline: true,
            endPlugSize: 1.5,
            outlineColor: '#04AA6D',
            size: 4,
            endPlug: 'arrow3',
            path: 'fluid',
            startSocket: 'auto',
            endSocket: 'auto'
        }
    );

    //realization
    if (sourceElement && destinationElement) {
        const line = new LeaderLine(
            sourceElement,
            destinationElement,
            {
                color: '#04AA6D',
                dash: { len: 10, gap: 15, animation: true },
                endPlugOutline: true,
                endPlugSize: 1.5,
                endPlugColor: "#000000",
                outlineColor: '#04AA6D',
                size: 4,
                endPlug: 'arrow3',
                path: 'fluid',
                startSocket: 'auto',
                endSocket: 'auto'
            }
        );


